<div class="aboutus-Page-Heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 header-text">
          <h1> من نحن </h1>
          <p> صنع موقع حيّك من قبل طالبات كلية علوم الحاسب والمعلومات..</p>
        </div>
      </div>
    </div>
  </div>