<div class="aboutus-Page-Heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 header-text">
          <h1> حياك الله مضاوي </h1>
          <a href="/saveditems/fav" class="btn2 btn primary"> أستشكف أكثر  </a>
          
          <div class="border-button">
            <a href="/login" class="sign-in-up">
                <i class="fa fa-user"></i> تسجيل الدخول
            </a>
        </div>
        
          <p> صنع موقع حيّك من قبل طالبات كلية علوم الحاسب والمعلومات..</p>

        </div>
      </div>
    </div>
  </div>
