<!-- HOME PAGE -->

  <!-- shahad -->
  <div class="main-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="header-text">
            <h2>Enter a world of <em>Photos</em> &amp; Amazing <em>Awards</em></h2>
            <p>SnapX Photography is a professional website template with 5 different HTML pages for maximum
              customizations. It is free for commercial usage. This Bootstrap v5.1.3 CSS layout is provided by
              TemplateMo Free CSS Templates.</p>
            <div class="buttons">
              <div class="big-border-button">
                <a href="contests.html">Explore SnapX Contest</a>
              </div>
              <div class="icon-button">
                <a href="https://youtube.com/templatemo" target="_blank"><i class="fa fa-play"></i> Watch Our Video
                  Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--Madawee Section-->
<section class="featured-items" id="featured-items">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="owl-features owl-carousel" style="position: relative; z-index: 5;">
          <div class="item">
            <div class="thumb">
              <img src="img/1.png" alt="">
              <div class="hover-effect">
                <div class="content">
                  <h1>ุงููุทุงุนู ูุงูููุงูู</h1>
                  <!--Button - ุงููุฒูุฏ ูุฑูุญ ููุตูุญุฉ ุญูุช ุงููุทุงุนู-->
                  <div class="main-button">
                    <p class="pMadawee">  ุงุณุชูุดู ุฃุญุฏุซ ุงููุทุงุนู ูุงูููุงูู ูู ููุทูุชูุ ุญูุซ ุชุฌุฏ ุชุฌุงุฑุจ ุทุนุงู ูุฑูุฏุฉ ุชูุงุณุจ ูู ุงูุฃุฐูุงู. ุงุณุชูุชุน ุจุฃููุงุช ุฑุงุฆุนุฉ ูุน ุงูุฃุตุฏูุงุก ูุงูุนุงุฆูุฉ ูู ุฃูุงูู ูููุฒุฉ.  </p>
                    <a href="#">! ุงุณุชุนุฑุถ ุงููุฒูุฏ  </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="thumb">
              <img src="img/3.png" alt="">
              <div class="hover-effect">
                <div class="content">
                  <h1>ุงูุชุนููู </h1>
                  <!--Button - ุงููุฒูุฏ ูุฑูุญ ููุตูุญุฉ ุญูุช ุงูุตุญุฉ-->
                  <div class="main-button">
                 <p class="pMadawee">ุงุณุชูุดู ุฃุญุฏุซ ุงููุคุณุณุงุช ุงูุชุนููููุฉ ุญูู ููุฒููุ ุจุฏุกูุง ูู ุงูุญุถุงูุงุช ุญุชู ุงูุฌุงูุนุงุช. ููุฏู ูู ุฎูุงุฑุงุช ูุชููุนุฉ ูุถูุงู ุฃูุถู ูุณูุฑุชู ุชุนููููุฉ</p>
                    <a href="#">! ุงุณุชุนุฑุถ ุงููุฒูุฏ </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumb">
              <img src="img/6.png" alt="">
              <div class="hover-effect">
                <div class="content">
                  <h1>ุงูุฃุณูุงู </h1>
                  <!--Button - ุงููุฒูุฏ ูุฑูุญ ููุตูุญุฉ ุญูุช ุงูุชุนููู-->
                  <div class="main-button">
                  <p class="pMadawee">ุงุณุชูุดู ุฃุญุฏุซ ุงูุฃุณูุงู ุงููุชุงุญุฉ ุญูููุ ูู ุงูุตูุฏููุงุช ุฅูู ุงูุณูุจุฑูุงุฑูุช. ูุญู ููุง ูุชุณููู ุนุซูุฑู ุนูู ูู ูุง ุชุญุชุงุฌู ูู ูุณุชูุฒูุงุช ููููุฉ.  </p>
                    <a href="#">! ุงุณุชุนุฑุถ ุงููุฒูุฏ </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="thumb">
              <img src="img/2.png" alt="">
              <div class="hover-effect">
                <div class="content">
                  <h1>ุงูุตุญุฉ   </h1>
                  <!--Button - ุงููุฒูุฏ ูุฑูุญ ููุตูุญุฉ ุญู ูุนุงููุงุช ุงุทูุงู ููุจุงุฑ-->
                  <div class="main-button">
                   <p class="pMadawee">ุงุณุชูุดู ุฃุญุฏุซ ูุฑุงูู ุงูุตุญุฉ ุงููุชููุฑุฉ ุจุงููุฑุจ ูููุ ุจูุง ูู ุฐูู ุงููุณุชุดููุงุช ูุนูุงุฏุงุช ุงูุฃุณูุงู. ูุญู ููุง ูุชูููุฑ ุฑุนุงูุฉ ุตุญูุฉ ูุชููุฒุฉ ูู </p>
                    <a href="#">! ุงุณุชุนุฑุถ ุงููุฒูุฏ </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="thumb">
              <img src="img/5.png" alt="">
              <div class="hover-effect">
                <div class="content">
                  <h1> ุงููุนุงููุงุช</h1>
                  <!--Button - ุงููุฒูุฏ ูุฑูุญ ููุตูุญุฉ ุญูุช ุงูุฌูุงู-->
                  <div class="main-button">
                    <p class="pMadawee">  ุงุณุชูุดู ุฃุญุฏุซ ุงููุนุงููุงุช ุงููุชููุนุฉ ุงููุฑูุจุฉ ูููุ ูู ูุฑุด ุงูุนูู ุฅูู ุงูุฃูุดุทุฉ ุงูุฑูุงุถูุฉ. ุงูุถู ูุชุฌุฑุจุฉ ุฃููุงุช ููุชุนุฉ ูุชุนุฒูุฒ ุงูุฑูุงุจุท ุงูุงุฌุชูุงุนูุฉ ูู ูุญูุทู.  </p>
                    <a href="#">! ุงุณุชุนุฑุถ ุงููุฒูุฏ </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="thumb">
              <img src="img/4.png"  alt="">
              <div class="hover-effect">
                <div class="content">
                  <h1>ุงูุฌูุงู </h1>
                  <!--Button - ุงููุฒูุฏ ูุฑูุญ ููุตูุญุฉ ุญูุช ุงูุฃุณูุงู-->
                  <div class="main-button">
                    <p class="pMadawee">ุงุณุชูุดู ุฃุญุฏุซ ุฎุฏูุงุช ุงูุฌูุงู ุงููุชููุฑุฉ ุจุงููุฑุจ ูููุ ุจุฏุกูุง ูู ุตุงูููุงุช ุงูุญูุงูุฉ ูุงูููู ุงุจ ุฅูู ุนูุงุฏุงุช ุงูุชุฌููู ุงููุชุฎุตุตุฉ. ูุญู ููุง ููุณุงุนุฏู ูู ุงูุญุตูู ุนูู ุงูุนูุงูุฉ ุงูุชู ุชุณุชุญููุง ูุชุนุฒูุฒ ุฅุทูุงูุชู ูุซูุชู ุจููุณู.</p>
                    <a href="#">! ุงุณุชุนุฑุถ ุงููุฒูุฏ </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--______________________________________________________________________________________________________________________________________________________________-->


  <section class="popular-categories">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h6>Our Categories</h6>
            <h4>Check Out <em>Popular</em> Contest <em>Categories</em></h4>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="main-button">
            <a href="#">Discover All Categories</a>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="popular-item">
            <div class="top-content">
              <div class="icon">
                <img src="img/icon-01.png" alt="">
              </div>
              <div class="right">
                <h4>Nature Pic Contest</h4>
                <span><em>126</em> Available Contests</span>
              </div>
            </div>
            <div class="thumb">
              <img src="img/popular-01.png" alt="">
              <span class="category">Top Contest</span>
              <span class="likes"><i class="fa fa-heart"></i> 256</span>
            </div>
            <div class="border-button">
              <a href="contest-details.html">Browse Nature Pic Contests</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="popular-item">
            <div class="top-content">
              <div class="icon">
                <img src="img/icon-02.png" alt="">
              </div>
              <div class="right">
                <h4>Random Pic Contest</h4>
                <span><em>116</em> Available Contests</span>
              </div>
            </div>
            <div class="thumb">
              <img src="img/popular-02.png" alt="">
              <span class="category">Top Contest</span>
              <span class="likes"><i class="fa fa-heart"></i> 256</span>
            </div>
            <div class="border-button">
              <a href="contest-details.html">Browse Random Pic Contests</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="popular-item">
            <div class="top-content">
              <div class="icon">
                <img src="img/icon-03.png" alt="">
              </div>
              <div class="right">
                <h4>Portrait Pic Contest</h4>
                <span><em>164</em> Available Contests</span>
              </div>
            </div>
            <div class="thumb">
              <img src="img/popular-03.png" alt="">
              <span class="category">Top Contest</span>
              <span class="likes"><i class="fa fa-heart"></i> 256</span>
            </div>
            <div class="border-button">
              <a href="contest-details.html">Browse Portrait Pic Contests</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="popular-item">
            <div class="top-content">
              <div class="icon">
                <img src="img/icon-04.png" alt="">
              </div>
              <div class="right">
                <h4>Space Pic Contest</h4>
                <span><em>135</em> Available Contests</span>
              </div>
            </div>
            <div class="thumb">
              <img src="img/popular-04.png" alt="">
              <span class="category">Top Contest</span>
              <span class="likes"><i class="fa fa-heart"></i> 256</span>
            </div>
            <div class="border-button">
              <a href="contest-details.html">Browse Space Pic Contests</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
     
<!-- start of wajd  -->
<section class="events-section section-bg section-padding" id="section_4">
  <div class="container">
      <div class="row">

          <div class="col-lg-12 col-12">
              <h2 class="mb-lg-3" style="text-align: right;">ุงุฎุฑ ูุนุงููุงุช ูุงุญุฏุงุซ ุงูุญู</h2>
          </div>
<div >
          <div class="row custom-block mb-3">
              <div class="col-lg-2 col-md-4 col-12 order-2 order-md-0 order-lg-0">
                  <div class="custom-block-date-wrap d-flex d-lg-block d-md-block align-items-center mt-3 mt-lg-0 mt-md-0">
                      <h6 class="custom-block-date mb-lg-1 mb-0 me-3 me-lg-0 me-md-0">10</h6>
                      
                      <strong class="text-white">ุฑูุถุงู</strong>
                  </div>
              </div>

              <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                  <div class="custom-block-image-wrap">
                      <a href="event-detail.html">
                          <img src="img\ramadan1.png" class="custom-block-image img-fluid" alt="">

                          <i class="custom-block-icon bi-link"></i>
                      </a>
                  </div>
              </div>

              <div class="col-lg-6 col-12 order-3 order-lg-0">
                  <div class="custom-block-info mt-2 mt-lg-0">
                      <p class="mb-0"  style="text-align: right;"><span style="font-size: 30px;">ุฅูุทุงุฑ ุตุงุฆู </span></p>

                      <p class="mb-0" style="text-align: right;">ูุจุงุฑู ุนูููู ุงูุดูุฑ! ูุนูู ุนู ุชูุธูู ูุทูุฑ ุฑูุถุงู ุฌูุงุนู ุนูุฏ ุฌุงูุน ุญู ุงููุฏูุ ุงูุถููุง ุฅูููุง ูุฅุญูุงุก ูุฐุง ุงูุดูุฑ ุงููุจุงุฑู ูุนูุดูุง ูุนูุง ุฑูุญ ุฑูุถุงู </p>

                      <div class="d-flex flex-wrap border-top mt-4 pt-3">

                          <div class="mb-4 mb-lg-0">
                              <div class="d-flex flex-wrap align-items-center mb-1">
                                  <span class="custom-block-span" style="text-align: right;">ุฌุงูุน ุญู ุงููุฏู :</span>

                                  <p class="mb-0" >ุงููููุน</p>
                              </div>



                          <div class="d-flex align-items-center ms-lg-auto">
                              <a href="event-detail.html" class="btn custom-btn">ุงูุชูุงุตูู</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
</div>
          
          <div class="row custom-block custom-block-bg">
              <div class="col-lg-2 col-md-4 col-12 order-2 order-md-0 order-lg-0">
                  <div class="custom-block-date-wrap d-flex d-lg-block d-md-block align-items-center mt-3 mt-lg-0 mt-md-0">
                      <h6 class="custom-block-date mb-lg-1 mb-0 me-3 me-lg-0 me-md-0">1</h6>
                      
                      <strong class="text-white" style="text-align: right;">ุงูุนูุฏ</strong>
                  </div>
              </div>

              <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                  <div class="custom-block-image-wrap">
                      <a href="event-detail.html">
                          <img src="\img\r1.png" class="custom-block-image img-fluid" alt="">

                          <i class="custom-block-icon bi-link"></i>
                      </a>
                  </div>
              </div>

              <div class="col-lg-6 col-12 order-3 order-lg-0">
                  <div class="custom-block-info mt-2 mt-lg-0">
                      <p class="mb-0" style="text-align: right;"><span style="font-size: 30px;"> ุญูุงูุฉ ุงูุนูุฏ </span></p>

                      <p class="mb-0" style="text-align: right;">ุญูุงูุฉ ุงูุนูุฏ ูู ุญุฏููุฉ ุงููุฏู ุจุชููู ูููุงูุฉ ูุฑุญ ููุฑุญ ููุฃุทูุงู ูุฃุณุฑูู!๐ฌ ูุทุจุนุงู ูุง ููุณู ุชูุฒูุน ุงูุนูุฏูุงุชุ ูู ุงูุฃุทูุงู ุจูุงุฎุฐูู ุนูุฏูุฉ ุญููุฉ ุงุญุชูุงูุงู ุจุนูุฏ ุงููุทุฑ</p>

                      <div class="d-flex flex-wrap border-top mt-4 pt-3">

                          <div class="mb-4 mb-lg-0">
                              <div class="d-flex flex-wrap align-items-center mb-1">
                                  <span class="custom-block-span" style="text-align:right;">ุญุฏููุฉ ุญู ุงููุฏู:</span>

                                  <p class="mb-0" style="text-align: right;">ุงููููุน</p>
                              </div>


                          <div class="d-flex align-items-center ms-lg-auto">
                              <a href="event-detail.html" class="btn custom-btn">ุงูุชูุงุตูู</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</section> 
<!-- end of wajd section -->

  <section class="pricing-plans">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading text-center">
            <h6>Our Pricing</h6>
            <h4>Photography <em>Contest Plans</em> and Price <em>Awards</em></h4>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item">
            <img src="img/pricing-01.jpg" alt="">
            <h4>Basic Plan</h4>
            <ul class="first-plan">
              <li>Lorem Ipsum Dolores Sonte</li>
              <li>Songe Lorem Ipsum Dol</li>
              <li>Matrios Venga Heptuss</li>
              <li>Denim Sriracha Kogi</li>
              <li>Digital Photography Awards</li>
            </ul>
            <span class="price">$25 USD</span>
            <div class="border-button">
              <a href="#">Choose This Plan</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item">
            <img src="img/pricing-02.jpg" alt="">
            <h4>Standard Plan</h4>
            <ul class="second-plan">
              <li>Lorem Ipsum Dolores Sonte</li>
              <li>Songe Lorem Ipsum Dol</li>
              <li>Matrios Venga Heptuss</li>
              <li>Denim Sriracha Kogi</li>
              <li>Digital Photography Awards</li>
            </ul>
            <span class="price">$45 USD</span>
            <div class="border-button">
              <a href="#">Choose This Plan</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item">
            <img src="img/pricing-03.jpg" alt="">
            <h4>Advanced Plan</h4>
            <ul class="third-plan">
              <li>Lorem Ipsum Dolores Sonte</li>
              <li>Songe Lorem Ipsum Dol</li>
              <li>Matrios Venga Heptuss</li>
              <li>Denim Sriracha Kogi</li>
              <li>Digital Photography Awards</li>
            </ul>
            <span class="price">$85 USD</span>
            <div class="border-button">
              <a href="#">Choose This Plan</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

