


<section class="events-section events-detail-section section-padding" id="section_2">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-8 col-12 mx-auto">
                
                <a style="color: white; background-color: #776AD0; border-radius: 5px;" href="/" class="back-icon">
                    <i class="fas fa-arrow-left"></i> رجوع
                  </a>

                <h2 class="mb-lg-5 mb-4 " style="text-align: center; color:black" >فطور رمضان</h2>

                <div style="border-radius: 20px;" >
          
                    <img src="img/ramadan1.png"style="border-radius: 20px;" class="custom-block-image img-fluid" alt="">
                </div>

                <div class="custom-block-info">
                    <h3 class="mb-3" style="text-align: right; color: black">فطور في جامع حي الندى</h3>

                    <p style="text-align: right;">
                        تجمع أهالي الحي في ساحة الجامع قبل موعد أذان المغرب
                        تقديم وجبات فطور جماعية من أطعمة رمضان التقليدية (تمر، ماء، شوربة، سمن، خبز، وغيرها)
                        أجواء رمضانية مع تلاوة القرآن والذكر في الجامع
                        دعوة للمشاركة في الدعاء قبل الإفطار
                        مشاركة الوجبات مع الآخرين لتعزيز روح التعاون والتواصل الاجتماعي</p>

                <p style="text-align: right;">لتعزيز الأجواء الرمضانية والتقارب بين أهالي الحي في جو من البهجة والإيمان</p>

                    <div class="events-detail-info row my-5" style="text-align: right;">
                        <div class="col-lg-12 col-12">
                            <h4 class="mb-3">التفاصيل</h4>
                        </div>

                        <div class="col-lg-4 col-12">
                            <span class="custom-block-span" style="text-align: right;">التاريخ</span>

                            <p class="mb-0">  10 رمضان </p>
                        </div>

                        <div class="col-lg-4 col-12 my-3 my-lg-0">
                            <span class="custom-block-span" style="text-align: right;">الموقع</span>

                            <p class="mb-0">جامع حي الندى</p>
                        </div>

                        <div class="col-lg-4 col-12">
                            <span class="custom-block-span">الحجز</span>

                            <p class="mb-0">مجانًا</p>
                        </div>
                    </div>

                  
                </div>
            </div>

        </div>
    </div>
    
</section>