/* Global reset for signup component */
.signup-container,
.signup-container * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.signup-container {
  font-family: 'Open Sans', sans-serif;
  background: hsl(0, 0%, 100%);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup {
  width: 800px;
  background: hsl(0, 0%, 100%);
  border-radius: 10px;
  box-shadow: 0 3px 25px hsla(0, 0%, 0%, 0.2);
  overflow: hidden;
  display: flex;
}

.signup-connect,
.signup-classic {
  width: 50%;
  padding: 30px 50px;
}

.signup-connect {
  background: linear-gradient(134deg, #776AD0, #aca4df);
  color: hsl(0, 0%, 100%);
}

.signup-connect h1 {
  font-size: 30px;
  margin-bottom: 40px;
  text-shadow: 0 2px 3px hsla(0, 0%, 0%, 0.1);
}

.signup-btn {
  display: block;
  background: #776AD0;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  margin: 20px 0;
  padding: 15px 15px;
  border-radius: 5px;
  position: relative;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 3px 3px hsla(0, 0%, 0%, 0.2);
}

.signup-btn:hover {
  background: #4837b5;
  box-shadow: inset 0 3px 0 hsla(0, 0%, 0%, 0.2);
}

.signup-btn-social {
  padding-left: 64px;
  position: relative;
}

.signup-btn-social i {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  text-align: center;
  line-height: 48px;
  background: hsla(0, 0%, 0%, 0.1);
  border-radius: 5px 0 0 5px;
}
/* 
.signup-btn-facebook {
  background-color: hsl(221, 44%, 41%);
}

.signup-btn-twitter {
  background-color: hsl(206, 82%, 63%);
}

.signup-btn-google {
  background-color: hsl(7, 71%, 55%);
}

.signup-btn-linkedin {
  background-color: hsl(196, 100%, 43%);
} */

.signup-classic h2 {
  font-size: 16px;
  font-weight: normal;
  margin-top: 23px;
  margin-bottom: 43px;
}

.signup-form .signup-fieldset {
  border: none;
  padding: 0;
  margin: 20px 0;
  position: relative;
}

.signup-form .signup-fieldset input {
  width: 100%;
  height: 48px;
  color: hsl(0, 0%, 20%);
  padding: 15px 40px 15px 15px;
  border-radius: 5px;
  font-size: 14px;
  outline: none !important;
  border: 1px solid hsla(0, 0%, 0%, 0.3);
  box-shadow: inset 0 1px 4px hsla(0, 0%, 0%, 0.2);
  vertical-align: top;
}

.signup-form button {
  width: 100%;
  outline: none !important;
  background: linear-gradient(-5deg, #776AD0,#9990d5);
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 3px 0px hsla(86, 21%, 44%, 0.2);
  text-shadow: 0 2px 3px hsla(0, 0%, 0%, 0.2);
  color: hsl(0, 0%, 100%);
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.signup-form button:hover {
  background: #5c50b1;
}

