<!-- ***** Header Area Start ***** -->

<header class="header-area header-sticky">
    <div class="container">
        <nav class="main-nav">
            <!-- Logo -->
            <a href="/" class="logo">
                <img src="/img/logo12.png" alt="حيّك" class="logo-img">
            </a>

        
    
    <div class="border-button">
        <a href="#" class="icon-btn">
            <i class="fa fa-bookmark"></i>
        </a>
        <a href="/logout" class="logout-btn">
            <i class="fa fa-sign-out"></i> تسجيل الخروج
        </a>
    </div>

            <!-- Mobile Menu Trigger -->
            <button class="menu-trigger" aria-label="Toggle Menu">
                <span></span>
            </button>
        </nav>
    </div>
</header>
<script src="/js/header.js"></script>
