<!-- ***** Header Area Start ***** -->

<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">

                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo">
                        <img src="" alt="حيّك">
                    </a>

                    <form class="nav col-12 col-md-auto flex-fill mb-2 justify-content-center mb-md-0" role="search"
                        method="POST" action="/saveditems/search">
                        <input type="search" name="searchTerm" class="form-control border-primary" placeholder="البحث"
                            aria-label="Search">
                    </form>

                    <div class="border-button">
                        <a href="#"><i id="save-icon" class="fa fa-bookmark"></i></a>
                        <a href="/logout" class="logout">
                            <i class="fa fa-sign-out"></i> تسجيل الخروج
                        </a>
                    </div>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</header>

