<!-- ***** Header Area Start ***** -->

<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">

                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo">
                        <img src="" alt="حيّك">
                    </a>

                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <!--يوديني للصفحة الرئيسية -->
                        <li><a href="/" class="active">الصفحة الرئيسية</a></li>
                        <!-- أكثر من واحد تحت بعض لو فيه أحد يحتاجه ولا نخليه مثل الباقي-->
                        <li class="has-sub"> <a href="javascript:void(0)">Photos &amp; Videos</a>
                            <ul class="sub-menu">
                                <li><a href="contests.html">Contests</a></li>
                                <li><a href="contest-details.html">Single Contest</a></li>
                            </ul>
                        </li>
                        <li><a href="/FAQ">خلك قريب</a></li>
                        <li><a href="/about"> من نحن </a></li> 
                    </ul>
                    <!-- تسجيل الدخول-->

                    <div class="border-button">
                        <a href="/login" class="sign-in-up">
                            <i class="fa fa-user"></i> تسجيل الدخول
                        </a>
                    </div>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</header>
