<!-- ***** Header Area Start ***** -->
<header class="header-area">
    <div class="container">
        <nav class="main-nav">
            <!-- Logo -->
            <a href="/" class="logo">
                <img src="/img/logo12.png" alt="حيّك" class="logo">
            </a>
            
            <!-- Main Navigation -->
            <ul class="nav">
                <li><a href="/" class="nav-link">الصفحة الرئيسية</a></li>

                <li><a href="/shop" class="nav-link">الخدمات</a></li>

                <li class="has-sub">
                    <button class="dropdown-toggle">تعرف علينا</button>
                    <ul class="sub-menu">
                        <li><a href="/about" class="sub-link">من نحن</a></li>
                        <li><a href="/FAQ" class="sub-link">الأسئلة الشائعة</a></li>
                    </ul>
                </li>

                    <div class="border-button">
                        <% if (isLoggedIn) { %>
                            <!-- إذا كان المستخدم مسجل دخول -->
                            <a href="/logout" class="logout">
                                <i class="fa fa-sign-out"></i> تسجيل الخروج
                            </a>
                        <% } else { %>
                            <!-- إذا لم يكن المستخدم مسجل دخول -->
                            <a href="/login" class="sign-in-up">
                                <i class="fa fa-user"></i> تسجيل الدخول
                            </a>
                        <% } %>
                    </div>
                    
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                </nav>

               
            </ul>

             <!-- Search Form -->
             <!-- <div class="nav-search-container">
                <form class="search-form" role="search" method="POST" action="/saveditems/search">
                    <input 
                        type="search" 
                        name="searchTerm" 
                        class="search-input" 
                        placeholder="البحث..."
                        aria-label="Search">
                </form>
            </div> -->

   
            <!-- Mobile Menu Trigger -->
            <button class="menu-trigger" aria-label="Toggle Menu">
                <span>menu</span>
            </button>
        </nav>
    </div>
</header>
<script src="/js/header.js"></script>
