<!-- ***** Header Area Start ***** -->

<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">

                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo">
                        <img src="" alt="حيّك">
                    </a>

                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <!--يوديني للصفحة الرئيسية -->
                        <li><a href="/" class="active">الصفحة الرئيسية</a></li>
                        <li><a href="/FAQ"> صفحة لمى</a></li>
                        <li><a href="/about"> صفحة إضافية </a></li>
                        
                        <!-- أكثر من واحد تحت بعض لو فيه أحد يحتاجه ولا نخليه مثل الباقي-->
                        <li class="has-sub"> <a href="javascript:void(0)">تعرف علينا </a>
                            <ul class="sub-menu">
                                <li><a href="/about">من نحن </a></li>
                                <li><a href="/FAQ"> الأسئلة الشائعة</a></li>
                            </ul>
                        </li>
                        
                    </ul>
                    <div class="border-button">
                        <% if (isLoggedIn) { %>
                            <!-- إذا كان المستخدم مسجل دخول -->
                            <a href="/logout" class="logout">
                                <i class="fa fa-sign-out"></i> تسجيل الخروج
                            </a>
                        <% } else { %>
                            <!-- إذا لم يكن المستخدم مسجل دخول -->
                            <a href="/login" class="sign-in-up">
                                <i class="fa fa-user"></i> تسجيل الدخول
                            </a>
                        <% } %>
                    </div>
                    
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</header>
